<tr data-id="{{customer.id}}">
    <th scope="row" class="id">{{customer.id}}</th>
    <td class="name">{{customer.name}}</td>
    <td class="email">{{customer.email}}</td>
    <td class="telephone">{{customer.telephone}}</td>
    <td class="address">{{customer.address}}</td>
    <td class="street">{{customer.street}}</td>
    <td class="city">{{customer.city}}</td>
    <td class="state">{{customer.state}}</td>
    <td class="zip">{{customer.zip}}</td>
    <td>
        <a href="#"><span class="glyphicon glyphicon-pencil edit"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove delete"></span></a>
    </td>
</tr>