<customer-add (create)="add($event)"></customer-add>
<customer-list (onDelete)="setID($event)" [customers]="customers" [model]="model"></customer-list>
<customer-delete (onDelete)="delete($event)" [id]="id"></customer-delete>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Добавление клиента</h4>
            </div>
            <div class="modal-body">
                <h3>Данные клиента</h3>
                <form #formRef="ngForm">
                    <div class="form-group" [ngClass]="showError(nameRef).cssClass">
                    <label class="control-label" for="name">Имя:</label>
                    <input type="text" required class="form-control" id="name" name="name" [(ngModel)]="model.name" #nameRef="ngModel">
                    <div class="help-block" *ngIf="nameRef.touched">{{showError(nameRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(emailRef).cssClass">
                        <label class="control-label" for="email">Email:</label>
                        <input type="email" required class="form-control" id="email" name="email" [(ngModel)]="model.email" #emailRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(emailRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(telephoneRef).cssClass">
                        <label class="control-label" for="telephone">Телефон:</label>
                        <input type="text" required class="form-control" id="telephone" name="telephone" [(ngModel)]="model.telephone" #telephoneRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(telephoneRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(addressRef).cssClass">
                        <label class="control-label" for="address">Адрес:</label>
                        <input type="text" required class="form-control" id="address" name="address" [(ngModel)]="model.address" #addressRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(addressRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(streetRef).cssClass">
                        <label class="control-label" for="street">Улица:</label>
                        <input type="text" required class="form-control" id="street" name="street" [(ngModel)]="model.street" #streetRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(streetRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(cityRef).cssClass">
                        <label class="control-label" for="city">Город:</label>
                        <input type="text" required class="form-control" id="city" name="city" [(ngModel)]="model.city" #cityRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(cityRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(stateRef).cssClass">
                        <label class="control-label" for="state">Штат:</label>
                        <input type="text" required class="form-control" id="state" name="state" [(ngModel)]="model.state" #stateRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(stateRef).text}}</div>
                    </div>
                    <div class="form-group" [ngClass]="showError(zipRef).cssClass">
                        <label class="control-label" for="zip">Zip:</label>
                        <input type="text" required class="form-control" id="zip" name="zip" [(ngModel)]="model.zip" #zipRef="ngModel">
                        <div class="help-block" *ngIf="nameRef.touched">{{showError(zipRef).text}}</div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="!formRef.valid">Сохранить изменения</button>
            </div>

        </div>
    </div>
</div>