<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script defer src="js/bundle.js"></script>

    <script type="text/javascript">
        $("document").ready(function(){
            $('#modal').modal();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/backend">IEE Admin Page</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Юзеры</a></li>
                <li><a href="#about">Еще какая-то страница</a></li>
                <li><a href="#contact">И опять страница</a></li>
            </ul>


        </div><!--/.nav-collapse -->


    </div>
    <div style="position: absolute; top: 10px; right: 10px"> <a href="/"><span class="glyphicon glyphicon-home pull-right">internationalemigrationexpo.com</span></a></div>

</nav>

<a style="margin: 71px 0 0;" class="btn btn-lg btn-success"  href="#" data-toggle="modal"  data-target="#basicModal">+</a>

<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th>Улица</th>
            <th>Город</th>
            <th>Штат</th>
            <th>Zip</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <? foreach($customers as $customer): ?>
        <tr>
            <th scope="row"><?= $customer->id; ?></th>
            <td><?= $customer->name; ?></td>
            <td><?= $customer->email; ?></td>
            <td><?= $customer->telephone; ?></td>
            <td><?= $customer->address; ?></td>
            <td><?= $customer->street; ?></td>
            <td><?= $customer->city; ?></td>
            <td><?= $customer->state; ?></td>
            <td><?= $customer->zip; ?></td>
            <td>

                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <? endforeach; ?>
        </tbody>
    </table>

</div>


<div class="notes"></div>


<br />
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Название модального окна</h4>
            </div>
            <div class="modal-body">
                <h3>Содержимое модального окна</h3>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" type="button">Сохранить изменения</button></div>
        </div>
    </div>
</div>






</body>
</html>